<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'FoodApp:home' %}" style='font-weight:bold'>FoodApp</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'users:profile' %}">Profile</a></li>
            <li class="">
              <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
              <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                  {% csrf_token %}
              </form>
          </li>
          </ul>
        </div>
      </nav>
      {%   block  body %} 
          
      {% endblock  %}

    </body
</html>